.roboto-font{
    font-family: "Roboto Mono", monospace;
    font-style: normal;
}

.alegreya-font{
    font-family: "Alegreya", serif;
    font-style: normal;
}

// .background-lima-redondeado{
//     background-color: $lima;
//     margin: .5rem;
//     border-radius: $radius;
//     padding: .5rem;
//     overflow-y: auto;
//     max-height: 65vh;
// }