header{
    background-color: $azul;
    padding: 0 1rem;
}
.simple-button{
    border: none;
    background:none;
}
.user-button{
    @include flex(flex, column, center, center);
    border-radius: 25%;
    border: 1px solid black;
    width: 5rem;
    height: 3.5rem;
    p{
        margin: 0;
        font-size: 12px;
    }
}
.header-buttons{
    @include flex(flex, row, center, space-between);
    width: 15rem;
}
.header-superior{
    @include flex(flex, row, center, space-between);
    padding: .5rem 0;
}
.header-inferior{
    @include flex(flex, row, center, center);
    .nav-item{
        width: 10rem;
        text-align: center;
    }
}