header{
    background-color: $azul;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 6rem;
    align-items: center;    
}
.simple-button{
    border: none;
    background:none;
    
}

.logo-img{
    border-radius:$radius; 
    grid-row: 1/2;
    grid-column: 1/2;
}
.search-form{
    display: flex;
    grid-row: 1/2;
    grid-column: 2/3;
    width: 60%;
    height: 2rem;
    justify-self: center;
    input{
        background-color: $lima;
    }
    button{
        position: relative;
        right: 2.8rem;
    }
}
.header-buttons{
    @include flex(flex, row, center, right);
    gap: 1.5rem;
    grid-row: 1/2;
    grid-column: 3/4;
    button{
        color: $lima;
    }
}

.user-button-div{
    @include flex(flex, column, center, center);
    border-radius: $radius;
    border: 2px solid black;
    width: 5rem;
    height: 3.5rem;
    @extend .roboto-font;
    button{
        color: black;
    }
    p{
        margin: 0;
        font-size: $small-font;
    }
}

.header-inferior{
    grid-column: 2/3;
    grid-row: 2/3;
    @extend .alegreya-font;
    .navbar{
        padding: .5px;
    }
    .navbar-toggler{
        border: none;
        padding: 0;
        --bs-navbar-toggler-icon-bg:none;
        color: $lima;
        width: 35px;
        height: 35px;
    }
    .navbar-collapse{
        justify-content: center;
    }
    .nav-item{
        @include flex(flex, row, center, center);
        padding: 0 2rem;
        height: 3rem;
        text-align: center;
        font-size: $medium-font;
        border: 1px solid $lima;
        border-radius: $radius;
        
    }
    a{
        color: $lima;
    }
}

.seleccionado{
    background-color: $lima;
    a{
        color: black;
    }
}
